a {
  text-decoration: none;
  color: inherit;
}
a:hover{
    color:#974d8d;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
.nav-sidebar {
  background: url("./images/background.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  /* width: 100%; */
  position: fixed;
  top: 0;
  width: 20rem;
  padding: 3rem 0;;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}
.wrapper {
  padding: 2rem 3rem;
  /* display: grid; */
}
.container {
  position: relative;
  text-align: center;
  color: #5b0e2d;
}
/* .bio {
  position: fixed;
  top: 120px;
  left: 60px;
} */
.img-pic {
  border-radius: 50%;
  width: 30%;
}
section {
  padding: 1.5rem 0;
}
.title {
  color: #5b0e2d;
  font-size: 1.5rem;
  font-weight: 600;
  /* 400 is normal size */
  margin-bottom: 1rem;
}
.logo h6 {
  color: #666666;
}
.logo-skills {
  height: 60px;
}
.logo-skills img {
  height: 100%;
  /* width: 100%; */
  object-fit: contain;
}

.icon svg:hover {
  fill: blue;
}

.card-title {
  text-align: center;
}

.img-project {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  /* margin: 80px; */
  font-size: 1.5rem;
  white-space: normal;
}

/* .pos-img {
  position: fixed;
  width: 25%;
  top: 80px;
  left: 120px;
} */

.social-links a{
    margin-right: .75rem;
    color:#4e4e4e;
}
.social-links a:hover{
    color:#974d8d;
}
.vertical-menu{
 
  padding: 0 3rem;
}
.vertical-menu li{
   padding: .5rem 0;
}
.vertical-menu li a{
  color: #4e4e4e;
  font-weight: 500;
}
.vertical-menu li a:hover{
  color: #974d8d;
}
.vertical-menu li a i{
  margin-right: 1rem;
}
.divider{
    border: 2px solid #cccccc
}
.divider-white{
    border: 1px solid #ffffff;;
}
.card{
  position: static;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
}
.list-edu li{
  display: grid;
  grid-template-columns: auto 15rem;
    font-weight: bold;
    color: #974d8d;
    padding: 1.5rem 0;
 
}
.list-edu li:not(:last-child){
 border-bottom:  1px solid #cccccc;
 
}
.list-edu li span{
  font-weight: 500;
  color: #974d8d;
}
.list-edu li p{
  color: #4e4e4e;
  font-weight: 400;
}
.list-game{
  list-style: inside;
}

.no-bg-color{
  background: none;
}
.no-border-color{
  border: none;
}